* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


a {
  text-decoration: none;
  color: #01243f;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

body {
  background-color: #ffda01;
}

  body > div {
    width: 800px;
    margin-left: calc( (100% - 800px) / 2);
  }

  header {
    width: 100%;
    height: 60px;
    padding: 15px 30px;
  }

    header > h2 {
      float: left;
      width: 15%;
      color: #01243f;
    }

    nav {
      float: left;
      width: 50%;
      padding-left: 30px;
    }
      nav > a {
        display: inline-block;
        padding: 5px;
      }
    header > a {
      float: left;
      width: 35%;
      text-align: right;
      color: #d47618;
    }

  div > div {
    float: left;
    width: 30%;
    margin-left: 15%;
    margin-top: 80px;
    text-align: left;
  }

    h1 {
      width: 100%;
      font-size: 100px;
      color: #01243f;
      line-height: 0;
    }

    div > h2 {
      width: 100%;
      color: #ffffff;
      margin-bottom: 50px;
      margin-top: 45px;
      font-size: 34px;
    }

    p {
      width: 100%;
      font-size: 12px;
      margin-bottom: 30px;
    }

    div > a {
      width: 100%;
      background-color: #01243d;
      color: white;
      padding: 10px 40px;
      font-weight: lighter;
    }

  img {
    float: left;
    width: 35%;
    margin-top: 30px;
    margin-left: 50px;
  }
